<h2 class="text-lg mb-5">退会</h2>

<p class="font-bold">すべての設定とデータを削除します。この操作は戻すことができません。</p>

<div class="mt-5">
  <%= form_with url: '/users/delete', local: true do |f| %>
    <%= f.submit '退会する', class: "text-red-500", data: { confirm: "本当に退会しますか" }  %>
  <% end %>
</div>
