<%- if current_user %>
  <div style=''>
    <%= turbo_frame_tag "my-calendar-events", src: "/calendar_events", loading: :lazy %>
  </div>
<% else %>

  <div class="text-center">
    <%= form_with url: '/auth/google_oauth2', local: true, data: {turbo: false}  do |f| %>
      <%= f.submit '登録/ログイン', class: "btn-primary cursor-pointer text-sm" %>
    <% end %>
  </div>

  <p class="mt-2 text-sm">※ Googleアカウントでログインすることで <a href="/terms" class="link">利用規約</a>と<a href="/privacy" class="link">プライバシーポリシー</a>に同意します</p>

  <div class="mt-10">
    <%= render partial: "shared/howto", locals: { disable_heading: true } %>
  </div>
<% end %>
