<%= turbo_frame_tag "calendar-setup-list" do %>
  <h3 class="my-5 text-lg">新規でカレンダーを設定する</h3>

  <ul class="flex flex-col gap-3">
    <% @calendars.each do |calendar| %>
      <li class="">
        <%= form_with url: "/google_calendars/setup" , data: { turbo: false } do |f| %>
          <%= f.hidden_field :calendar_id, value: calendar.id %>
          <%= f.submit calendar.summary, class: "btn-secondary cursor-pointer" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
