<h3>連携中カレンダー</h3>

<ul>
  <%- current_user.google_calendars.each do |calendar| %>
    <li><%= link_to calendar.summary, "/google_calendars/#{calendar.calendar_id}" %></li>
  <% end %>
</ul>

<h3>連携する</h3>

<ul>
  <% @calendars.each do |calendar| %>
    <li>
      <%= form_with url: "/google_calendars/setup", local: true do |f| %>
        <%= f.hidden_field :calendar_id, value: calendar.id %>
        <%= f.submit calendar.summary %>
      <% end %>
    </li>
  <% end %>
</ul>
